div {
    background-color: grey;
    
}

#Datos{
    font-size: 50px;
    color: red;
}

#CAJA{
    border: 2px solid;
}

#CAJA2{
    border: 2px solid;
}

#TRABAJADOR1{
    color: blue;
    text-align: center;
}

#TRABAJADOR2{
    color: green;
    text-align: center;
}
