header{
    background-color: #254159;
}

img{
    height: 50px;
    width: 50px;
}

h1{
    color: white;
    font-size: 25px;
}


nav{
    background-color: #466883;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul li{
    display: inline;
    margin-right: 15px ;
    color: white;
}